# ugh
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/AccessGrantsV1.sol
artifacts/contracts/AccessGrantsV1.sol/*
!artifacts/contracts/AccessGrantsV1.sol/AccessGrantsV1.json

cache
node_modules
yarn-error.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
