# ugh
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/AccessGrants.sol
artifacts/contracts/AccessGrants.sol/*
!artifacts/contracts/AccessGrants.sol/AccessGrants.json

cache
