# ugh
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/AccessGrants.sol
artifacts/contracts/AccessGrants.sol/*
!artifacts/contracts/AccessGrants.sol/AccessGrants.json

cache
node_modules

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
